.burguer-menu {
    display: none;
}
.navbar-right{
    display: block;
}
.navbar-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar-right li{
    text-align: center;
    padding: 1em;

}
.navbar-right a {
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
    font-size: 1.4rem;
}
.navbar-right a:active{
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 8px ;

}
.navbar-right ul {
    list-style: none;

}

/* Services flex */
.services-card-flex{
    display: flex;
    flex-direction: row;

}
.services-card{
    min-width: 255px;
}
/* Product content flex */
.product-content-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-content-container{
    min-width: 320px;
}
.product-comunity-container{
    min-width: 320px;
}
.product-agency-container{
    min-width: 320px;
}
/* Team card */
.team-card-flex{
    display: flex;

}
.text-container{
    margin-right: 72px;
}
.team-img-container{
    justify-content: flex-start;
}
.main-body-container{
}
.form{
 
}
