:root{
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-John-mayer: 'John Mayer';

    }

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
    
html{
    font-size: 62.5%;
    font-family: var(--font-Montserrat);
    background-color: #FAFAFA;
    color: var(--green-nerea);
}
/* Icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.inactive{
    display: none;
}
.hidden{
    visibility: hidden;
}

header {
    width: 100%;
    min-width: 320px;
}
/* Nabvar */
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 300px;
    margin-top: 24px;
    padding: 0 12px;
    
}
.navbar-container p {
    padding: 8px;
    border: 1px solid white;
    font-family:var(--font-Crimson);
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.6rem;
    letter-spacing: 0em;
}
.close-menu{
    justify-content: flex-end;
}
.menu-mobile {
    position: absolute;
    top: 80px;
    left:0 ;
    width: 100%;
    height: 612px;
    background-color: #181719;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    z-index: 1;
}
.navbar-right ul{
    display: none;
}
.menu-mobile li{
    text-align: center;
    padding: 1em;

}
.menu-mobile a {
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}
.menu-mobile a:active{
    text-decoration-line: underline;
    text-underline-offset: 8px ;

}
.menu-mobile ul {
    list-style: none;

}
main{
    width: 100%;
    height: auto;
    padding: 0 10px; 
}
/* Homepage */
.main-homepage-container{
    width: 100%;
    height: auto;
    min-width: 320px;
    margin-top: 40px;
}
/* Title */
.main-title-container{
    width: 100%;
    height: auto;
    max-width: 280px;
    padding-left: 30px; 
    margin-bottom: 15px;  
    
}
.main-subtitle{
    font-size: 1..2rem;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: 0em;
    color: rgba(45, 156, 219, 1);
}
.main-title{
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 3.4rem;
    letter-spacing: 0em;
}
/* Hero img */
.main-hero-container{
    width: 98%;
    height: 148px;
    background-image: url(./assets/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
/* Body */
.main-body-container{
    width: 100%;
    height: auto;
    max-width: 260px;
    padding-left: 30px;     
}
.main-body-title{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3.4rem;
    letter-spacing: 0em;
    margin-top: 22px;
    margin-bottom: 33px;
}
.main-body-text{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;   
}
/* Email form  */
/* Formulario */
.form{
    width: 100%;
    height: auto;
    max-width: 265px;
    margin-top: 40px;
    padding-left: 30px;     

}
.label{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: #828282;
}
.email-list{
    text-decoration: none;
}
/* Label text */
.list-container{
    width: 100%;
    height: auto;
    max-width: 290px;
    list-style: none;
    padding: 5px 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: 0em;
}
.list-body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* Etiquetas titulos */
label{
    margin: 5px 0;
}
/* Icono del label */
input{
    position: relative;
    width: 100%;
    height: 47px;
    padding-left: 20px;
    background: #F2F2F2;
    border: none;
    border-radius: 12px;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: #4E5150;
}
/* Button Join*/
.join{
    position: absolute;
    top: 29px;
    left: 160px;
    width: 71px;
    height: 39px;
    background: #2D9CDB;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: white;
}
/* Services container */
.services-container{
    width: 100%;
    height: auto;
    max-width: 260px;
    padding-left: 30px; 
    margin-top: 100px;
    margin-bottom: 15px;  
}
.services-card{
        padding: 50px 34px 43px;
}
.services-card:hover{
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.services-title{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3.4rem;
    letter-spacing: 0em;
    margin-bottom: 90px;
}
/* Services card */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    font-size: 3rem;
    border-radius: 16px;
    margin-bottom: 35px;
}
.fav-logo{
    color: #fefae0;
    background: #f08080;
}
.group-logo{
    color: #fefae0;
    background: #bdb2ff;
}
.store-logo{
    color: #fefae0;
    background: #a0c4ff;
}
.service-name{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0em;
    margin-bottom: 24px;
}
.service-body{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    margin-bottom: 30px;
}
/* Contact button */
.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 38px;
    background: #E0E0E0;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0em;
    margin-bottom: 43px;
}
.contact-button:hover{
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.238);
    background-color: #c8e7ff;
}
a{
    text-decoration: none;
}
/* Product section */
.product-info-container{
    width: 100%;
    height: auto;
    margin-bottom: 15px; 
}
.section-title{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3.4rem;
    letter-spacing: 0em;
    margin-bottom: 48px;
    padding-left: 30px;
}
.product-content-container{
   width: 100%;
   height: 300px;
   background-image: url(./assets/Frame\ 2.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain; 
}
.product-description{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    letter-spacing: 0em;
    margin-top: 6px;
}
.product-name{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    letter-spacing: 0em;
    border-radius: 12px;
    margin-bottom: 36px;
   
}
.product-comunity-container{
   width: 100%;
   height: 300px;
   background-image: url(./assets/Frame\ 3.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   border-radius: 12px;

}
.product-agency-container{
   width: 100%;
   height: 300px;
   background-image: url(./assets/Frame\ 4.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain; 
   border-radius: 12px;
 
}
.read-more-ca{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 36px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.7rem;
    letter-spacing: 0em;
    color: #2D9CDB;


}
.arrow-right{
    font-size: 1.5rem;
    padding-left: 8px;
}
/* Team card */
.team-card-container{
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.text-container{
    max-width: 260px;
}
.team-card-subtitle{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: 0em;
    color: rgba(235, 87, 87, 1);
    margin-bottom: 7px;
}
.team-card-title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0em;
    margin-bottom: 24px;
}
.team-card-body{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    margin-bottom: 30px;
}
/* Team IMG */
.team-img-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.anto-img{
    width: 160px;
    height: 150px;
    padding: 2px;
    background-image: url(./assets/anto.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
}
.alvaro-img{
    width: 160px;
    height: 150px;
    padding: 2px;
    background-image: url(./assets/alvaro.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;    
}
.alejo-img{
    width: 160px;
    height: 150px;
    padding: 2px;
    background-image: url(./assets/alejo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
}
/* Review */
.review-body{
    width: 100%;
    height: auto;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    letter-spacing: 0em;
}
.review-container{
    display: flex;
    margin-top: 18px;
}
/* IMG */
.luis-img{
    width: 80px;
    height: 80px;
    background-image: url(./assets/alejo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
}
.review-name-container{
    padding-left: 12px;
}
.review-name{
font-size: 2.4rem;
font-weight: 500;
line-height: 3.6rem;
letter-spacing: 0em;

}
.review-store{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    letter-spacing: 0em;

}
